*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(41, 40, 40);
    font-family: "Poor Story";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home{
    text-align: start;
    max-width: 100%;
    width: 99%;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    color: rgb(243, 87, 87)
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 50px;


}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn h2{
    padding-right: 20px;
}

img{
    max-width: 100%;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;

}

img:hover{
    transition: 0.5s;
    width: 70%;
}

.graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.anal_title{
    align-items: center;
    text-align: center;
}

.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: black;
    background-color: rgb(215, 221, 135);
    max-width: 100%;
    width: 50%;
    border-radius: 20px;
}