* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(41, 40, 40);
    font-family: "Poor Story";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.home{
    text-align: start;
    max-width: 100%;
    width: 99%;
}

h2{
    color: rgb(243, 87, 87);
}

img{
    margin-top: 50px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin-top: 30px;
}

.btn{
    padding: 15px;
    background-color: rgb(236, 40, 40);
    border-radius: 20px;
}

.btn:hover{
    background-color: rgb(172, 27, 27);
    transition: 0.5s;
    font-size: 25px;
}