* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(41, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poor Story";
    color: white;
    font-size: 20px;
}

  
h1{
    font-family: "Poor Story";
    color: rgb(243, 87, 87);
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}



.connexion{
    margin: 100px;
    font-size: 25px;
    max-width: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;    
}

.input{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#email{
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    
}

#password{
    border-radius: 20px;
    border: none;
    max-width: 100%;
    width: 100%;
    padding: 10px;
}

.connect{
    color: white;
    text-decoration: none;
    font-size: 50px;
    background-color: rgb(62, 62, 236);
    padding: 20px;
    border-radius: 50px;
}

.connect:hover{
    background-color: rgb(235, 50, 50);
    transition: 1s;
}